html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-img{
  background-image: url("../public/images/sideImage.png"), url("../public/images/tool.png") ;
  background-position: right center, center center;
  background-repeat:  no-repeat, no-repeat; 
  background-attachment: fixed, fixed;
  background-size:  contain, cover;
}

@media screen and (max-width:768px) {
  .bg-img{
    background-image: url("../public/images/tool.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

.is-size-jumbo{
  font-size: 5rem;
}

.contact-details{
  margin-left:2rem;
  
}

.contact-form{
  margin-left: 2rem;
  padding: 2rem !important;
}

@media screen and (max-width:768px) {
    .contact-form{
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding: 1.5rem !important;
    }

    .contact-details{
      margin-left:0.5rem;
      margin-right: 0.5rem;
    }
}

.footer-top{
  border-top-width:0.4rem;
  border-top-color:#B50009 ;
  border-top-style: solid;
}

.boy{
  width: 100%;
}

.nav-bottom{
  border-bottom-style: solid;
  border-bottom-width: 0.05rem;
  border-bottom-color: #e8e8e8;
}

.text-block {
  position: absolute;
  top:11.4rem;
  right: 60rem;
  left: 5rem;
  /* bottom: 10rem; */
  height: 36vw;
  width: 25rem;
  /* right: 20px; */
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  /* margin-bottom: 15rem; */


}

@media screen and (max-width:768px) {
    .text-block{
      position:inherit;
      top:0rem;
      left: 0rem;
      margin-bottom: 1rem;
      height: auto;
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
     

    }  
}

@media screen and (min-width:1023px) and (max-width:1041px){
    .text-block{
      position: absolute;
      top:12rem;
      right: 60rem;
      left: 3rem;
      bottom: 20rem;
      height: 25rem;
      width: 25rem;
      display: flex;
      justify-content: space-between;
     
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-top: 3rem;
     
    }
}

@media screen and (min-width:1042px) and (max-width:1122px){
  .text-block{
    position: absolute;
    top:15rem;
    right: 60rem;
    left: 3rem;
    bottom: 18rem;
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: space-between;
   
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 3rem;
   
  }
}

@media screen and (min-width:1440px){
  .text-block{
    position: absolute;
    top:10.1rem;
    right: 60rem;
    left: 5rem;
    bottom: 20rem;
    height: 30rem;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 3rem;
   
  }
}

.carousel-holder{
  position: relative;
  margin-bottom: 0rem;
 
}

.des{
  z-index: 100;
}

.other-projects{
  margin-left: 8.33333337%;
}

.font-m{
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Mongolian Baiti';
  src: url("../public/monbaiti.ttf");
  font-style: normal;
}

.font-b{
  font-family: 'Mongolian Baiti';
  font-weight: 400;
  line-height: 60px;
  font-size: 3.5rem ; 
}

.description{
  font-family: 'Mongolian Baiti';
  font-weight: 400;
}



